* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center; }
  header .logo-container,
  header .nav-links,
  header .cart {
    display: flex; }
  header .logo-container {
    flex: 1; }
    header .logo-container .logo {
      font-weight: 400;
      margin: 5px; }
  header nav {
    flex: 2; }
    header nav .nav-links {
      justify-content: space-around;
      list-style: none; }
      header nav .nav-links .nav-link {
        color: #5f5f79;
        font-size: 18px;
        text-decoration: none; }
  header .cart {
    flex: 1;
    justify-content: flex-end; }

main .presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center; }
  main .presentation .introduction {
    flex: 1; }
    main .presentation .introduction .intro-tex h1 {
      font-size: 44px;
      font-weight: 500;
      background: linear-gradient(to right, #494964, #6f6f89);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    main .presentation .introduction .intro-tex p {
      margin-top: 5px;
      font-size: 22px;
      color: #585772; }
    main .presentation .introduction .cta {
      padding: 50px 0 0 0; }
      main .presentation .introduction .cta .cta-select {
        border: 2px solid #c36cbb;
        background: transparent;
        color: #c36cbb;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 16px; }
      main .presentation .introduction .cta .cta-add {
        background: #c36cbb;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        border: none;
        color: white;
        margin: 30px 0 0 30px; }
  main .presentation .cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh; }
    main .presentation .cover img {
      height: 100%;
      filter: drop-shadow(0px 5px 3px black);
      animation: drop 1.5s ease; }

main .laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%; }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

main .big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 80%; }

main .medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4; }

main .small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1; }

@media screen and (max-width: 1024px) {
  main .presentation {
    flex-direction: column; }
    main .presentation .introduction {
      margin-top: 5vh;
      text-align: center; }
      main .presentation .introduction .intro-text h1 {
        font-size: 30px; }
      main .presentation .introduction .intro-text p {
        font-size: 18px; }
      main .presentation .introduction .cta {
        padding: 10px 0 0 0; }
    main .presentation .cover img {
      height: 80%; }
  main .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%); }
  main .big-circle,
  main .medium-circle,
  main .small-circle {
    opacity: 0.2; } }
